/*IMPORT TAILWIND*/
@import "tailwindcss";


.scroll-custom::-webkit-scrollbar{
    width: 4px;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.a4-size {
  width: 210mm;
  height: 297mm;
  background: white;
}